html, body {
    margin: 0;
    height: 100%;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    background-color: #f7f7f7;
}