h1 {
    text-align: center;
    margin-top: 3rem;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: .5rem;
}

.secici {
    background-color: #f0f0f0;
    padding: .5rem;
    margin: 1rem 0;
    border-radius: .3rem;
    display: flex;
    gap: .5rem;
}

.secici {
    font-weight: bold;
    border: 1px solid #ddd;
}

.secici>input {
    flex: 1;
}

#sonuc {
    margin-top: 1.5rem;
    height: 200px;
    background-color: rgb(128, 128, 128);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
}

#sonuc>#kod {
    background-color: white;
    padding: .2rem .5rem;
    font-size: 1.2rem;
    font-family: Consolas, 'Courier New', Courier, monospace;
}